<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Aprender a Aprender</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">Significa descobrir qual a melhor forma de adquirir novos conhecimentos e ter sempre disposição para perseguir o aprendizado.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Essencial para se abrir a novos aprendizados, manter-se motivado e desenvolver seus conhecimentos.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Valiosas para o desenvolvimento pessoal, já que mantém as pessoas sempre interessadas em aprender coisas novas e facilita o aprendizado.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">A habilidade de aprender a aprender envolve saber estudar, entender as formas com que você melhor absorve conteúdos e manter a motivação para isso.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
>
