#titulo{
  border: 1px solid #ffffff;
  border-radius: 10px;
  h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color:#ffffff;
  }
}

.card{
  background-color: #4169E1;
  border-radius: 10px;
  border:1.5px solid #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  ion-label{
    color:#ffffff
  }
}
