<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Soft Skill</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">Termo em inglês usado por profissionais de recursos humanos.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Define habilidades comportamentais, competências individuais difíceis de avaliar.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Também são conhecidas como people skills (habilidades com pessoas) e interpersonal skills (habilidades interpessoais).</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Alguns exemplos de soft skills: Criatividade, Persuasão, Colaboração, Adaptabilidade e Inteligência Emocional. Essas 5 aparecem no topo das mais procuradas segundo o linkedin em uma pesquisa realizada no ano de 2020.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
