<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Empatia</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">Se relaciona diretamente com a comunicação</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Ajuda a liderar e obter maior dedicação de seus parceiros de equipe.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Colocar-se no lugar do outro é tratar todos com respeito e educação, principalmente em situações mais difíceis.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">É possível criar espaço para pedir e dar feedbacks, ferramentas fundamentais para o crescimento profissional.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">É por meio dessa conversa que você poderá entender os seus pontos fortes e de melhorias.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
