<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Empatia</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">Se relaciona diretamente com a comunicação</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Ajuda a liderar e obter maior dedicação de seus parceiros de equipe.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Também são conhecidas como people skills (habilidades com pessoas) e interpersonal skills (habilidades interpessoais).</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Alguns exemplos de soft skills: Criatividade, Persuasão, Colaboração, Adaptabilidade e Inteligência Emocional. Essas 5 aparecem no topo das mais procuradas segundo o linkedin em uma pesquisa realizada no ano de 2020.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
