<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Pensamento Criativo</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">É a criatividade que nos permite inovar e buscar melhorias e soluções.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Fácil desenvolvimento de soluções para qualquer problema que aparecer.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Garante rapidez nos processos internos.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Capacidade é desenvolvida com muito estudo e aprendizado com as experiências.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
