<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card id="titulo">
      <div class="ion-text-center">
      <h1>Organização ou Planejamento</h1>
    </div>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
        <ion-label class="ion-text-wrap">Fundamental para aumento da eficiência e qualidade do trabalho. </ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Ser um profissional organizado faz com que haja economia de tempo.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Além disso, você diminui sua fragilidade aos erros relacionados e à desatenção.</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-label class="ion-text-wrap">Dessa forma, o profissional passa uma imagem de maior competência, podendo influenciar de maneira positiva os colegas.</ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
