<ion-header>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-title class="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="top ion-text-center">
    <h2 class="titulo">Soft Skill</h2>
  </div>

  <div id="img">
    <img src="../../assets/img/soft-skills.jpg">
  </div>

  <ion-card class="card" routerLink="/definicao">
    <ion-card-header>
      <ion-card-title>Definição</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/int-emocional">
    <ion-card-header>
      <ion-card-title>Inteligência Emocional</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/empatia">
    <ion-card-header>
      <ion-card-title>Empatia</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/orga-plan">
    <ion-card-header>
      <ion-card-title>Organização ou Planejamento</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/lideranca">
    <ion-card-header>
      <ion-card-title>Liderança</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/etica">
    <ion-card-header>
      <ion-card-title>Ética</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/pen-criativo">
    <ion-card-header>
      <ion-card-title>Pensamento Criativo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" routerLink="/trab-pressao">
    <ion-card-header>
      <ion-card-title>Trabalhar Sobre Pressão</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
